<header class="header card">
  <div class="brand"><h1>Vicente</h1></div>
  <nav class="nav">
    <a routerLink="/">Inicio</a> |
    <a routerLink="/profile/level1">Perfil (3 niveles)</a> |
    <a href="/assets/examples/instructions.html" target="_blank">Instrucciones</a> |
    <a href="/assets/examples/intro.html" target="_blank">Intro</a> |
    <a href="/assets/examples/people/friends.html" target="_blank">People</a> |
    <a href="/assets/examples/places/canada.html" target="_blank">Places</a> |
    <a href="/assets/examples/things/acorn.html" target="_blank">Things</a> |
    <a href="https://wa.me/qr/56VO7CHYM2RYN1" target="_blank">WhatsApp</a>
  </nav>
  <div>
    <button class="theme-toggle" (click)="toggleTheme()">Toggle theme</button>
  </div>
</header>
