<section class="publicaciones">
  <h3>Publicaciones</h3>

  <article class="post card">
    <h4>Post con imagen 1</h4>
    <img src="assets/images/1.jpg" alt="post-img" class="post-img">
    <p>Descripción corta de la foto 1.</p>
  </article>

  <article class="post card">
    <h4>Post con imagen 2</h4>
    <img src="assets/images/2.jpg" alt="post-img" class="post-img">
    <p>Descripción corta de la foto 2.</p>
  </article>

  <article class="post card">
    <h4>Post con imagen 3</h4>
    <img src="assets/images/3.jpg" alt="post-img" class="post-img">
    <p>Descripción corta de la foto 3.</p>
  </article>

  <article class="post card">
    <h4>Post con imagen 4</h4>
    <img src="assets/images/4.jpg" alt="post-img" class="post-img">
    <p>Descripción corta de la foto 4.</p>
  </article>

</section>
